<div class="fetches index">
	<h2><?php echo __('Fetches'); ?></h2>
	<table cellpadding="0" cellspacing="0">
	<tr>
			<th><?php echo $this->Paginator->sort('id'); ?></th>
			<th><?php echo $this->Paginator->sort('client_id'); ?></th>
			<th><?php echo $this->Paginator->sort('response_json'); ?></th>
			<th><?php echo $this->Paginator->sort('request_json'); ?></th>
			<th><?php echo $this->Paginator->sort('created'); ?></th>
			<th><?php echo $this->Paginator->sort('modified'); ?></th>
			<th class="actions"><?php echo __('Actions'); ?></th>
	</tr>
	<?php foreach ($fetches as $fetch): ?>
	<tr>
		<td><?php echo h($fetch['Fetch']['id']); ?>&nbsp;</td>
		<td>
			<?php echo $this->Html->link($fetch['Client']['id'], array('controller' => 'clients', 'action' => 'view', $fetch['Client']['id'])); ?>
		</td>
		<td><?php echo h($fetch['Fetch']['response_json']); ?>&nbsp;</td>
		<td><?php echo h($fetch['Fetch']['request_json']); ?>&nbsp;</td>
		<td><?php echo h($fetch['Fetch']['created']); ?>&nbsp;</td>
		<td><?php echo h($fetch['Fetch']['modified']); ?>&nbsp;</td>
		<td class="actions">
			<?php echo $this->Html->link(__('View'), array('action' => 'view', $fetch['Fetch']['id'])); ?>
			<?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $fetch['Fetch']['id'])); ?>
			<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $fetch['Fetch']['id']), null, __('Are you sure you want to delete # %s?', $fetch['Fetch']['id'])); ?>
		</td>
	</tr>
<?php endforeach; ?>
	</table>
	<p>
	<?php
	echo $this->Paginator->counter(array(
	'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
	));
	?>	</p>
	<div class="paging">
	<?php
		echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
		echo $this->Paginator->numbers(array('separator' => ''));
		echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
	?>
	</div>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>
		<li><?php echo $this->Html->link(__('New Fetch'), array('action' => 'add')); ?></li>
		<li><?php echo $this->Html->link(__('List Clients'), array('controller' => 'clients', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Client'), array('controller' => 'clients', 'action' => 'add')); ?> </li>
	</ul>
</div>
